.clrfix:before, .clrfix:after {  content: "";  
display: table; } 

.clrfix:after {  
clear: both; } 

.clrfix {  zoom: 1; /* IE6&7 */ }

@font-face{
	font-family: KaushanScript;
	src:url('../fonts/KaushanScript-Regular.ttf');
}

body{
	background: #E6EAED;
	font-family: KaushanScript, cursive;
	color: #4e4f54;
}

* {
	/*outline: 1px solid black;*/
}
.main-wrapper{
	position: relative;
	width: 100%;
	height: 100%;
}

.details-text{
	width: 100%;
	height: 100%;
	float: left;
	text-align: center;
	/*background: blue;*/
}


#upload-text{
	color: #279ed9;
}
.webcam-text{
	width: 100%;
}

.web-cam-video{
	display: none;
	float: left;
	width: 33%;
	height: 100%;
	text-align: center;
}

.video-wrapper{
	width: 200px;
	height: 150px;
	background:gray;
	float: left;
	margin: 0 25%;
	border: 2px solid black;
	border-radius: 5px;
	/*float: left;*/
}

.start-button{
	border: none;
	cursor: pointer;
	color: white;
	font-size: 18px;
	background: #279ed9;
	margin-top: 10px;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	font-family: KaushanScript, cursive;
}

#refresh-page-button{
	display: none;
	margin: 20px auto;
}

p{
	font-size: 18px;
}

.upload-video-wrapper{
	/*display: none;*/
	float: left;
	width: 33%;
	text-align: center; 	
}

.gif-image-wrapper{
	display: none;
	float: left;
	width: 33%;
	text-align: center; 	
}

.gif-img-div{
	margin: 0 auto;
	width: 200px;
	height: 150px;
	background: gray;
	border: 1px solid black;
	border-radius: 5px;
}

.footer{
	text-align: center;
	padding-top: 150px;
}

.please-wait-wrapper{
	display: none;
	position: absolute;
	top: 65%;
	left: 35%;
	margin: 0 auto;
	width: 25%;
	/*height: 100%;*/
	background: #c4cdd3;
	border-bottom: 5px solid gray;
	text-align: center;
	padding: 20px;
	border-radius: 5px 5px 10px 10px;
	border-bottom: 5px solid #888;
}