
.video-wrapper{
	width: 200px;
	height: 200px;
	background:gray;
	float: left;
	border: 2px solid black;
}

.start-button{
	position: absolute;
	border: none;
	cursor: pointer;
	color: green;
	font-size: 24px;
	left: 380px;
	top: 270px;
}

.stop-button{
	position: absolute;
	border: none;
	cursor: pointer;
	color: red;
	font-size: 24px;
	left: 465px;
	top: 270px;
}

.gif-image-wrapper{
	position: absolute;
	top: 10px;
	left: 800px;
}